html, body, .container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/*      -----
    Navigation Bar
        -----  */
.navigation {
  background-color: #21171c;
}

.nav-left {
  width: 60%;
  align-items: center;
}

.nav-item {
  padding-left: 10px;
}

.logo {
  font-size: 35px;
  padding: 0 10px 0 5px;
}

.navigation a {
  color: #f3a53f;
  margin: 0 0 0 3px;
  text-decoration: none;
}

.navigation a.menu {
  color: #21171c;
  margin: 0;
  cursor: pointer;
}

.btn {
  font-size: 18px;
  background-color: #f3a53f;
  padding: 4px 15px;
  border: none;
  border-radius: 20px;
}

.tright {
  width: 132px;
}

.sm-menu {
  margin-top: 30px;
  font-size: 1.3em;
}

.collapsing-link {
  margin: 5px;
}

/*      -----
    Social Media Buttons
        -----  */
.sidebar-social {
  position: absolute;
  top: 100px;
  left: 0;
}

.icon-twitter, .icon-facebook {
  margin: 20px 0 0 20px;
  font-size: 40px;
}

.icon-twitter {
  color: #38A1F3;
}

.icon-facebook {
  color: #4267b2;
}

/*      -----
    Landing Page
        -----  */
.landing-page {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-image: url("../img/burger-hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.landing-page:after {
  content: "";
  width: 103%;
  height: 103%;
  background: inherit;
  position: absolute;
  top: 0;
  left: -4px;
  filter: blur(4px);
}

.inside-blur {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.logos {
  background-color: rgba(33, 23, 28, 0.7);
  border-radius: 20px;
}

.slogan, .slogan2 {
  margin: 10px;
  color: white;
  text-align: center;
}

.slogan2 {
  font-size: 1.5em;
  margin-bottom: 50px;
}

/*      -----
    Signup for newsletter
        -----  */
.signup {
  background-color: #21171c;
}

.sub-box {
  justify-content: center;
  background-color: rgba(243, 165, 63, 0.9);
  padding: 30px;
  text-align: center;
  border-radius: 150px;
}

.sub-box input {
  margin: 10px;
  font-size: 1.5em;
}

.sub-submit {
  font-size: 18px;
}

.footer {
  width: 100%;
  padding: 0 20px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  bottom: 0;
  text-align: center;
  z-index: 2;
}

/*      -----
        menu
        -----  */
.menu-page {
  position: relative;
  overflow: hidden;
  text-shadow: 1px 1px #dadfea;
  padding: 80px 40px 40px 40px;
}
.menu-page h1 {
  font-size: 4em;
}

.menu-background {
  position: absolute;
  left: 0;
  top: 0;
  width: auto;
  height: 100%;
  opacity: 0.4;
  z-index: -1;
}

.menu-title, .menu-category, .menu-category-desc {
  text-align: center;
}

.menu-category {
  margin-top: 32px;
}

.item-name {
  font-weight: bold;
}

.additions {
  font-size: 1.7em;
}

.menu-category-desc {
  font-style: italic;
  font-size: 0.9em;
}

.item {
  margin-bottom: 20px;
}

.line-item {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.item-description {
  font-style: italic;
  font-size: 0.8em;
  margin-bottom: 4px;
}

/*      -----
        jobs
        -----  */
.job-page {
  position: relative;
  overflow: hidden;
  background-color: #f3a53f;
}
.job-page .job-box {
  padding: 80px 40px 40px 40px;
  background-color: #21171c;
  border-radius: 150px;
}
.job-page .job-box h1 {
  font-size: 4em;
}
.job-page .job-box .text {
  font-size: 1.3em;
}
.job-page .job-box .checkbox-text, .job-page .job-box p {
  color: #ffffff;
}
.job-page .job-box .checkbox-text {
  padding: 15px;
  text-align: center;
}
.job-page .job-box .checkbox-text input {
  margin-left: 10px;
}
.job-page .job-box .job-inputs input {
  width: 175px;
  margin: 15px;
}
.job-page .job-box select {
  width: 175px;
  margin: 15px;
  background-color: white;
  border-radius: 0;
}
.job-page .job-box .work-history-box {
  margin-top: 50px;
}
.job-page .job-box .work-history-box .work-history {
  text-align: center;
}
.job-page .job-box .fit-box p {
  text-align: center;
}
.job-page .job-box .avail {
  margin-top: 50px;
  margin-bottom: 30px;
}
.job-page .job-box .avail p {
  text-align: center;
  margin: 0;
}

.job-title {
  margin-bottom: 40px;
  color: #ffffff;
}

/*      -----
        faqs
        -----  */
.faq-page {
  background-color: #f3a53f;
  padding: 60px 40px 40px 40px;
}
.faq-page .faq-title {
  font-weight: bold;
  font-size: 4em;
  text-align: center;
  color: #ffffff;
}
.faq-page .card {
  margin: 20px;
}
.faq-page .card .card-header {
  cursor: pointer;
}

.locations-page {
  background-color: #21171c;
  padding: 60px 40px 80px 40px;
  color: #ffffff;
}
.locations-page h1 {
  text-align: center;
  font-weight: bold;
  font-size: 4em;
}
.locations-page .map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  margin: 80px 50px 40px 50px;
}
.locations-page .map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
.locations-page .location-table {
  margin: 20px;
  padding: 20px;
  display: inline;
  width: auto;
}
.locations-page .location-table th, .locations-page .location-table td {
  background-color: #525459;
}
.locations-page .location-table th {
  padding: 20px 20px 0 20px;
}
.locations-page .location-table td {
  padding: 0 20px 20px 20px;
}

table {
  border-collapse: separate;
  border-spacing: 40px 0;
}

@media screen and (max-width: 575px) {
  .sub-box {
    padding: 20px;
    text-align: center;
    border-radius: 60px;
  }

  .sub-box {
    padding: 20px;
    border-radius: 60px;
  }

  .locations-page .map-responsive {
    margin: 80px 0 40px 0;
  }

  .location-table {
    background-color: #525459;
    width: 220px;
    margin: 20px;
    padding: 20px;
    display: inline;
  }
}

/*# sourceMappingURL=styles.css.map */
