$main-color: rgb(243, 165, 63);
$off-color: rgb(33, 23, 28);


html, body, .container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/*      -----
    Navigation Bar
        -----  */

.navigation {
  background-color: $off-color;
}

.nav-left {
  width: 60%;
  align-items: center;
}

.nav-item {
  padding-left: 10px;
}

.logo {
  font-size: 35px;
  padding: 0 10px 0 5px;
}

.navigation a {
  color: $main-color;
  margin: 0 0 0 3px;
  text-decoration: none;
}

.navigation a.menu{
  color: $off-color;
  margin: 0;
  cursor: pointer;
}

.btn {
  font-size: 18px;
  background-color: $main-color;
  padding: 4px 15px;
  border: none;
  border-radius: 20px;
}

.sm-menu {
  margin-top: 30px;
  font-size: 1.3em;
}
.collapsing-link {
  margin: 5px;
}

/*      -----
    Social Media Buttons
        -----  */

.sidebar-social {
  position: absolute;
  top: 100px;
  left: 0;
}

.icon-twitter, .icon-facebook {
  margin: 20px 0 0 20px;
  font-size: 40px;
}

.icon-twitter {
  color: #38A1F3;
}

.icon-facebook {
  color: #4267b2;
}

/*      -----
    Landing Page
        -----  */

.landing-page {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-image: url("../img/burger-hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// Blur covering home page image
.landing-page:after {
  content: '';
  width: 103%;
  height: 103%;
  background: inherit;
  position: absolute;
  top: 0;
  left: -4px;
  filter: blur(4px);
}

.inside-blur {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  //display: flex;
  //align-items: center;
  //justify-content: space-around;
}

.logos {
  background-color: rgba(33, 23, 28, .7);
  border-radius: 20px;
}
.main-logo {

}

.slogan, .slogan2 {
  margin: 10px;
  color: white;
  text-align: center;
}

.slogan2 {
  font-size: 1.5em;
  margin-bottom: 50px;
}

/*      -----
    Signup for newsletter
        -----  */
.signup {
  background-color: rgba(33, 23, 28);

}
.sub-box {
  justify-content: center;
  background-color: rgba(243, 165, 63, .9);
  padding: 30px;
  text-align: center;
  border-radius: 300px;
}

.sub-box input {
  margin: 10px;
  font-size: 1.5em;
}

.sub-submit {
  font-size: 18px;
}

.footer {
  width: 100%;
  padding: 0 20px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  bottom: 0;
  text-align: center;
  z-index: 2;

}

/*      -----
        menu
        -----  */

.menu-page {
  position: relative;
  overflow: hidden;
  text-shadow: 1px 1px #dadfea;
  padding: 80px 40px 40px 40px;
}

.menu-background {
  position: absolute;
  left: 0;
  top: 0;
  width: auto;
  height: 100%;
  opacity: 0.4;
  z-index: -1;
}


.menu-title, .menu-category, .menu-category-desc {
  text-align: center;
}

.item {

}
.menu-category {
  margin-top: 32px;
}
.item-name {
  font-weight: bold;
}

.additions {
  font-size: 1.7em;
}

.menu-category-desc {
  font-style: italic;
  font-size: .9em;
}
.item {
  margin-bottom: 20px;
}
.line-item {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.item-description {
  font-style: italic;
  font-size: .8em;
  margin-bottom: 4px;
}


//Google Maps


.gmap-container {
  overflow: hidden;
  padding-top: 56.25%;
  //
  //height: 500px;
  //width: 600px;

  iframe {
    position: absolute;
    left: 100px;
    top: 0;
    height: 100%;
    width: 100%;

  }
}

/* 4x3 Aspect Ratio */
.iframe-container-4x3 {
  padding-top: 75%;
}

@media screen and (max-width: 1000px) {


}
@media screen and (max-width: 575px) {
  .sub-box {
    padding: 20px;
    text-align: center;
    border-radius: 60px;
  }
}

